<div class="topbar-container">
  <div class="logo-section">
    <div class="logo-circle">
      <span class="fx-icon">f(x)</span>
    </div>
    <div class="logo-text">
      <span class="title">ROOT </span>
      <span class="subtitle"> FINDER</span>
    </div>
  </div>

  <nav class="nav-links">
   <nav class="nav-links">
  <a (click)="chooseMethod('bisection')">Bisection</a>
  <a (click)="chooseMethod('false-position')">False-Position</a>
  <a (click)="chooseMethod('fixed-point')">Fixed Point</a>
  <a (click)="chooseMethod('newton-orig')">Newton (Orig)</a>
  <a (click)="chooseMethod('newton-mod')">Newton (Mod)</a>
  <a (click)="chooseMethod('secant')">Secant</a>
</nav>

  </nav>
</div>
